.menu {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }

  .menuButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 0.75em 0.5em 0.75em;
    cursor: pointer;

    .menuButtonPart {
      height: 0.5em;
      margin: 0.5em 0;
      width: 3em;
      background-color: #555555;
    }
  }

  nav {
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border-radius: 3px;
    box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.5);

    overflow: hidden;
    max-height: 0;
    max-width: 0;
    transition: max-width calc(3s / 4), max-height calc(1s / 4);

    &.open {
      max-height: 30em;
      max-width: 20em;
      transition: max-width calc(2s / 5), max-height calc(3s / 5);
    }
  }

  nav a {
    display: block;
    font-size: 1.5em;
    color: #999999;
    text-decoration: none;
    padding: 1em;
    /* width: 100%; */

    &.active {
      color: #000000;
    }
  }

  div.background-tap-listen-helper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
