@import "../../../lib/vars";

.footer {
  background-color: $c-primary-dark;
  color: $c-primary-light;
  position: relative;
  bottom: 0;
  line-height: 2em;

  $side-padding: 1em;
  width: calc(100% - 2 * #{$side-padding});
  padding: 2em $side-padding 4em;

  address {
		font-style: normal;
		margin-bottom: 2.5em;

    ul {
      margin: 0;
      line-height: 1.5em;
    }

    span {
      display: block;
    }
  }

  a {
    color: $c-primary-light;
  }
}
