.header {
  .center {
    text-align: center;
  }

  img {
    border-radius: 50%;
    width: 10em;
    margin: 5em 0 2em;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  }
}
