@import "../../../lib/vars";

$moveAwayTop: -20%;
$transition-duration: 0.5s;

@keyframes titleBar_upDown {
  from {
    top: 75%;
  }
  to {
    top: 80%;
  }
}
@keyframes titleBar_moveAway {
  from {
    top: 80%;
  }
  to {
    top: $moveAwayTop;
  }
}

.titleBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  background-color: #ffffff;

  &.shadow {
    box-shadow: 0px 3px 30px 0px rgba(50, 50, 50, 0.75);
  }

  transition-property: height, box-shadow;
  transition-duration: $transition-duration;

  &.small {
    height: 4.5em;
    position: fixed;
  }

  div.arrowContainer {
    width: 100%;
    position: fixed;
    animation-name: titleBar_upDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    top: 80%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: $transition-duration;
    transition-delay: 0.4s;

    &.small {
      opacity: 0;
      top: $moveAwayTop;

      animation-name: titleBar_moveAway;
      animation-direction: normal;
      animation-timing-function: ease-out;
      animation-duration: $transition-duration;
      animation-iteration-count: 1;
      transition-delay: 0s;
      transition-duration: $transition-duration;
    }

    div.arrow {
      $border-width: 10px;
      $size: 2em;
      border-color: transparent $c-primary-dark $c-primary-dark transparent;
      border-style: solid;
      border-width: $border-width;
      position: relative;
      margin: 0 auto;
      width: $size;
      height: $size;
      transform: rotate(45deg);
      transform-origin: 50% 50%;

      top: 0;
      transition-property: top;
      transition-duration: $transition-duration;
    }
  }

  > * {
    float: left;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      left: calc(50% - (10em / 2));
      height: 10em;

      border-radius: 50%;
      margin: 5em 0 2em;
      border: 3px solid #ffffff;
      background-color: #ffffff;
      box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.5);

      transition-property: height, left, top, margin, border, box-shadow;
      transition-duration: $transition-duration;

      &.small {
        left: 0;
        top: 0;
        height: 2.9em;
        box-shadow: none;

        border-radius: 50%;
        margin: 0.6em;
        border-width: 0.2em;
        border-style: solid;
        background-color: #ffffff;
        border-color: #ffffff;
      }
    }

    div:nth-child(2) {
      position: absolute;
      left: 50%;
      width: 100%;

      transition-property: left;
      transition-duration: $transition-duration;

      &.small {
        left: 4.65em;
      }
    }

    h1 {
      position: absolute;
      margin: 0;

      font-size: 3em;
      top: 4.5em;
      line-height: 3em;
      // 253.88px is the width of the text in the current font-size
      left: calc(-253.88px / 2);

      transition-property: top, left, width, font-size;
      transition-duration: $transition-duration;

      &.small {
        top: 0;
        left: 0;
        width: fit-content;

        // DEPENDENT BLOCK
        $font-size: 1.5em;
        font-size: $font-size;
        // --DEPENDENT BLOCK

        &.up {
          top: -0.3em;
        }
      }
    }

    div:nth-child(3) {
      position: absolute;
      left: 4.65em;
      width: 100%;
    }

    h2 {
      position: absolute;
      opacity: 0;
      margin: 0;
      font-weight: normal;

      $font-size: 1em;
      font-size: $font-size;
      line-height: (4.5em / $font-size * 1em);

      top: 1.5em;

      transition-property: opacity, top;
      transition-duration: $transition-duration / 3;
      transition-timing-function: ease-in;

      &.small {
        opacity: 1;
        display: block;
        top: 0.9em;
        transition-delay: $transition-duration * 2 / 3;
        transition-timing-function: ease-out;
      }
    }
  }

  .alignRight {
    float: right;
  }
}
